{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tourist - Travel Agency HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon --> 
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 

    <!-- Template Stylesheet -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet --> 
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="\tourist_project\static\css\bootstrap.min.css" rel="stylesheet"> -->

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="\tourist_project\static\css\style.css" rel="stylesheet" type="text/css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <div class="row">
        <h2 class="text-center text-success"><img class="" height="30" src="{% static 'images/logo.jpg' %}" alt="">  TOURIST</h2>
        <div class="col-md-4">
          <h5>Person1 Name : {{ name_person1 }}</h5>
          <h5>Age : {{ age_person1 }}</h5>
          <h5>Gender : {{ gender_person1 }}</h5>
        </div>
        <div class="col-md-4">
          <h5>Person2 Name : {{ name_person2 }}</h5>
          <h5>Age : {{ age_person2 }}</h5>
          <h5>Gender : {{ gender_person2 }}</h5>
        </div>
        <div class="col-md-4">
          <h5>Date of journey : {{ date_of_journey_str }}</h5> 
        </div>
      </div>

      <form action="{% url 'payment' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <h4 class="mb-3">Payment</h4>
          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input type="radio" id="credit"  class="form-check-input" name="paymentMethod" value="creditcard"> 
              <label class="form-check-label" for="Check-Male">Creditcard</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="debit" class="form-check-input" name="paymentMethod" value="debitcard"> 
              <label class="form-check-label" for="Check-Female">Debitcard</label>{{form.paymentMethod.errors }}<hr> 
            </div>
          </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="cc-name">Name on card</label>
          <input type="text" class="form-control" id="cc-name" placeholder="" name="name" >{{ form.name.errors }}
          <small class="text-muted">Full name as displayed on card</small>
          <div class="invalid-feedback">
            Name on card is required 
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cc-number">Credit/Debit card number</label>
          <input type="number" class="form-control" id="cc-number" placeholder="enter sixteen digit number" name="cardnumber" >{{ form.cardnumber.errors }}
          <div class="invalid-feedback">
            Credit card number is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="cc-expiration">Expiration</label>
          <input type="month" class="form-control" id="cc-expiration" placeholder="enter expiry date" name="expiration" >{{ form.expiration.errors }}
          <div class="invalid-feedback">
            Expiration date required
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="cc-cvv">CVV</label>
          <input type="number" class="form-control" id="cc-cvv" placeholder="enter three digit number" name="cvv" >{{ form.cvv.errors }}
          <div class="invalid-feedback">
            Security code required
          </div>
        </div>
      <hr class="mb-2">
      <div class="col-md-4"> 
        <input class="btn btn-success btn-lg btn-block" type="submit" value="Proceed to pay">
        <a href="/london/" class="btn btn-danger btn-lg btn-block">Back</a>
      </div>
      <div class="col-md-4">
        {% if payment_completed %}
          <a id="viewInvoiceButton" class="btn btn-info" href="{% url 'generate_pdf' %}" target="_blank">View Invoice</a>

          <!-- If payment is not completed, don't display the "View Invoice" button -->
        {% endif %}
      </div>
      
      <script>
        // Wait for the DOM to be ready
        document.addEventListener("DOMContentLoaded", function () {
          // Get the "View Invoice" button element
          var viewInvoiceButton = document.getElementById("viewInvoiceButton");
      
          // Check if the button exists (if payment_completed is true, the button should exist)
          if (viewInvoiceButton) {
      // Add a click event listener to the button
      viewInvoiceButton.addEventListener("click", function () {
        // Hide the button after it's clicked
        viewInvoiceButton.style.display = "none";
      });
    }
  });
      </script>
            
      
      
    </form>
    
    </div>
        </div>
        <footer class="my-5 text-muted text-center text-small">
          <p class="mb-1">© copyright@2023 tourist</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.elitetourism.com/terms-conditions.html">Privacy</a></li>
            <li class="list-inline-item"><a href="https://www.elitetourism.com/terms-conditions.html">Terms</a></li>
            <li class="list-inline-item"><a href="{% url 'contact' %}">Support</a></li>
          </ul>
        </footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <style>
      body {
    background-color: aliceblue;
}
    </style>
    </body>
</html> 